<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAnaComp.EbiAnaCompNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAnaVar.EbiAnaVarNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConvertLogNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiFilterTracesEmptyNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiProbabilityLogNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiSampleFoldsNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAnalyseCompletenessNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAnalyseVarietyNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAnalyseNonStochasticActivitiesNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAnalyseNonStochasticAnyTracesNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAnalyseNonStochasticBoundedNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAnalyseNonStochasticInfinitelyManyTracesNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAssociationAllTraceAttributesNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiAssociationTraceAttributeNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceChiSquaredNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceChiSquaredSampleNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceEarthMoversNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceEarthMoversSampleNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceEntropicRelevanceNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceHellingerNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceHellingerSampleNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceJensenShannonNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceJensenShannonSampleNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceMarkovianNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceUnitEarthMoversNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConformanceUnitEarthMoversSampleNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConvertLabelledPetriNetNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConvertStochasticDeterministicFiniteAutomatonNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConvertStochasticLabelledPetriNetNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiConvertStochasticNondeterministicFiniteAutomatonNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverAlignmentsStochasticLabelledPetriNetsNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverDirectlyFollowsGraphNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverOccurrenceStochasticLabelledPetriNetNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverOccurrenceStochasticProcessTreeNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverRandomStochasticLabelledPetriNetNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverRandomStochasticProcessTreeNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverUniformStochasticLabelledPetriNetNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverUniformStochasticProcessTreeNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverNonStochasticFlowerDeterministicFiniteAutomatonNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverNonStochasticFlowerProcessTreeNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverNonStochasticPrefixTreeDeterministicFiniteAutomatonNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiDiscoverNonStochasticPrefixTreeProcessTreeNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiFilterTracesEventActivityNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiFilterTracesLengthNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiInformationNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiTestBootstrapTestNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiTestLogCategoricalAttributeNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiVisualiseTextNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiItselfDocumentationCommandsNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiItselfDocumentationFileHandlersNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiItselfDocumentationHomeNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiItselfHtmlNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiItselfJavaNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiItselfLogoNodeFactory"/>
      <node
            category-path="/"
            factory-class="org.ryoo.knimeEbi.node.EbiItselfManualNodeFactory"/>
</extension>
   
</plugin>
